body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open sans';
}

p, div {
    font-family: 'Open sans';
}

.scrollable {
    height:100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.game-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}

.img-item {
    border-radius: 4px;
    border-color: #c6cfd4;
    border-style: solid;
    border-width: 4px 4px 0;
    cursor: pointer;
}

.desc-item{
    border-radius: 4px;
    border:4px solid #c6cfd4;
    max-width:339px;
    min-height: 138px;
    padding:10px;
    position:relative;
    margin-top: -4px;
    cursor: pointer;
}

.play-item {
    float:right;
}

.title-item {
    font-weight: bold;
    color: #4C4C4C;
}

.navbar {
    background-color: #FFFFFF;
    border-bottom-width: 2px;
    border-color: #E6E6E6;
    min-height: 67px;
}
.game_iframe { width:100%; height:0px; max-width: 1136px; margin: 0px; padding:0px; border:0px; border-bottom: 30px; overflow: hidden;}
.game_iframe_container { padding-left: 0px; padding-right: 0px;}

//Scrollbars Chrome (we cant modify them of firefox)
::-webkit-scrollbar { width: 5px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #E6E6E6; }
::-webkit-scrollbar-track {  background-color: #E6E6E6;}
::-webkit-scrollbar-track-piece { background-color: #ffffff;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #E6E6E6; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #E6E6E6;}
::-webkit-resizer { background-color: #E6E6E6;}

//Scrollbars IE
body{
  scrollbar-base-color: #C0C0C0;
  scrollbar-base-color: #C0C0C0;
  scrollbar-3dlight-color: #C0C0C0;
  scrollbar-highlight-color: #C0C0C0;
  scrollbar-track-color: #EBEBEB;
  scrollbar-arrow-color: black;
  scrollbar-shadow-color: #C0C0C0;
  scrollbar-dark-shadow-color: #C0C0C0;
}
